html, body {
    padding: 0;
    scroll-behavior: smooth;
}

.blog-title-small {
    position: relative;
    top: 15px;
    font-weight: 500;
}

.blog-header-title {
    position: relative;
    top: 15px;
    font-size: 2em;
}

.blog-header-links {
    position: relative;
    top: 15px;
}

.blog-header-product-links {
    list-style: decimal;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}